<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome</title>
</head>
<body>
  <header>
    <h2>Thank you for logging in.</h2>
  </header>
  <main>
    <div />You can logout <a href='/logout'>here</a>.
  </main>
</body>
